@import "tailwindcss";

@theme {
    --color-background-light: rgb(243, 244, 248);
    --color-background-light-secondary: rgb(255, 235, 222);
    --color-background-dark: rgb(3 7 19);
    --color-background-dark-secondary: rgb(43, 17, 7);
    --color-border-light: rgb(184, 184, 184);
    --font-ubuntu-mono: "Ubuntu Mono", monospace;
}

@utility no-scrollbar {
    @apply
    [scrollbar-width:none]
    [&::-webkit-scrollbar]:hidden;
}
@utility custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme(--color-orange-400) transparent;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: theme(--color-orange-400);
        border-radius: 9999px;
    }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        @apply
        text-black
        dark:text-white
        font-ubuntu-mono
    }
    body {
        @apply
        bg-background-light
        dark:bg-background-dark
    }
}

@layer components {
    .header-wrapper {
        @apply
        sticky
        z-50
        flex
        items-center
        justify-between
        border-b
        border-border-light
        dark:border-white/10
        sm:px-6
        bg-background-light
        dark:bg-background-dark
    }
    .sidebar-wrapper {
        @apply
        flex
        flex-col
        h-full
        items-center
        justify-between
        border-r
        border-border-light
        dark:border-white/10
    }
    .sidebar-toggle {
        @apply
        -right-4
        top-2
        absolute
        p-2
        rounded-full
        border
        border-border-light
        dark:border-white/10
        bg-background-light
        dark:bg-background-dark
        hover:bg-orange-400
        hover:border-orange-400
        transition-colors
        cursor-pointer
    }
    .sidebar-searchbar-wrapper {
        @apply
        relative
        px-3
        py-2
        mt-5
    }
    .sidebar-searchbar-dropdown {
        @apply
        absolute
        left-3
        right-3
        top-full
        mt-1
        z-50
        rounded-md
        border
        border-border-light
        dark:border-white/10
        bg-background-light
        dark:bg-background-dark
        overflow-hidden
        shadow-sm
    }
    .sidebar-searchbar-dropdown li {
        @apply
        flex
        items-center
        gap-3
        px-3
        py-2
        text-sm
        cursor-pointer
        hover:bg-orange-400/20
        transition-colors
    }
    .sidebar-category-wrapper {
        @apply
        mt-2
        flex-1
        overflow-x-hidden
        overflow-y-auto
        w-full
        no-scrollbar
    }
    .sidebar-category button {
        @apply
        w-full
        flex
        items-center
        justify-between
        px-3 py-2.5 text-left
        hover:bg-orange-400/80
        transition-colors
        duration-150
        cursor-pointer
    }
    .sidebar-category button span {
        @apply
        text-lg
        font-semibold
        tracking-wide
    }
    .sidebar-category-sets {
        @apply
        p-2
        grid
        grid-cols-4
        gap-1
        justify-items-center
    }
    .sidebar-category-sets span{
        @apply
        cursor-pointer
        transition-transform
        duration-200
        hover:scale-110
        ease-in-out
    }
    .filterbar-wrapper {
        @apply
        sticky
        flex
        items-center
        top-0
        h-15
        z-10
        px-5
        py-2
        gap-2
        justify-center
        border-b
        border-border-light
        dark:border-white/10
        bg-background-light
        dark:bg-background-dark
        drop-shadow-xl
        drop-shadow-white/80
        dark:drop-shadow-black/80

    }
    .card-wrapper {
        @apply
        p-5
        grid
        grid-cols-6

    }
    .card {
        @apply
        rounded-[5%/5%]
        w-80
        cursor-pointer
    }
    .card-skeleton {
        @apply
        relative
        w-full
        h-100
        rounded-xl
        bg-gray-700/30
        overflow-hidden
    }
    .card-skeleton-overlay {
        @apply
        absolute
        inset-0
        bg-linear-to-r from-transparent
        via-white/10 to-transparent
    }
    .card-flip {
        @apply
        absolute
        top-30
        right-8
        bg-background-dark
        hover:bg-orange-400
        text-white
        p-2
        rounded-full
        cursor-pointer
    }
    .scroll-top-button {
        @apply
        fixed
        bottom-5
        right-5
        p-2
        rounded-full
        bg-orange-400
        cursor-pointer
    }
}

@layer reusable-components {
    .searchbar {
        @apply
        flex
        items-center
        gap-2
        border
        rounded-md
        px-2
        py-1.5
        border-border-light
        dark:border-white/10
        bg-background-light-secondary
        dark:bg-background-dark-secondary
    }
    .searchbar input{
        @apply
        w-full
        bg-transparent
        text-sm
        outline-none
        placeholder:opacity-80
        focus:placeholder-transparent
    }
}

@keyframes shimmer {
    100% { transform: translateX(200%); }
}